
.header{
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    background-color: #32cff2;
    color: white;
    &__search-container{
        width: 70%;
        text-align: right;
        &--input{
            width: 50%;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px 0px 4px 12px;
        }
    }
}
.drivers{
    background-color:  #f8f8f8;

    &__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        &--container{
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            max-width: 750px;
            justify-content: center;
            margin-top: 5%;
           
        }
    }
    
}

@media (min-width:600px) and (max-width:1200px){
    .drivers{
        &__wrapper{
            &--container{
                width: 80%;
            
            }
        }
    }
}

@media (max-width:600px){
    .header{
        
        &__search-container{
            width: 70%;
            &--input{
                width: 100%;
            }
        }
    }

    app-driver{
        width: 100%;
    }
    .drivers{
        &__wrapper{
            &--container{
                width: 100%;
            
            }
        }
    }
}