
.header{
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    background-color: #32cff2;
    color: white;
}
.drivers{
    background-color:  #f8f8f8;

    &__wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        &--container{
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            justify-content: center;
           
           
        }
    }
    
}

@media (min-width:700px) and (max-width:1100px){
    .drivers{
        &__wrapper{
            &--container{
                width: 80%;
            
            }
        }
    }
}